  .work-sans-regular {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
  }

  body {
    padding: 0;
    margin: 0;
    text-align: center;
    align-content: center;
    text-shadow: 0 0 5px #ffffff;
  }

  header {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    color: #ffffff;
  }

  .subheading {
    position: relative;
    font-size: 11.5px;
    top: -30px;
    width: 100%;
    height: 100%;
  }

  section {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 1;
  }

  nav {
    text-align: right;
    padding: 10px;
    background-color: black;
  }

  nav p {
    position: absolute;
    top: -6px;
    color: white;
  }

  nav a::after {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  nav a:hover {
    color: #0066CC;
  }

  nav a:hover::after {
    opacity: 1;
  }

  a {
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius:15px;
    margin: 15px;
    transition: color 0.3s ease;
  }

  .FAQ {
    color: white;
    position: absolute;
    top: 85%;
    left: 20%;
    max-width: 450px;
    text-align: left;
  }

  .fourOfour {
    position: relative;
    color: white;
    font-family: "Work Sans", sans-serif;
    position: absolute;
    top: 26%;
    left: 37%;
    text-align: center;
  }

  .latest, .latest-sub {
    position: absolute;
    color: white;
    text-align: left;
    left: 49%;
  }

  .latest { top: 85%; }
  .latest-sub { top: 93%; }

  footer, .homeFooter {
    color: white;
    font-family: "Work Sans", sans-serif;
    position: absolute;
    width: 100%;
    font-size: 10px;
  }

  .fourOfourFooter {
    color: white;
    font-family: "Work Sans", sans-serif;
    position: absolute;
    width: 100%;
    font-size: 10px;
  }

  footer { bottom: -300px; }
  .homeFooter { bottom: -1400px; }
  .fourOfourFooter { bottom: 0; }

  .FAQ a, .fourOfour a, footer a, .homeFooter a, .fourOfourFooter a {
    all: unset;
    color: #0066CC;
    text-decoration: underline;
    cursor: pointer;
  }

  .home {
    position: relative;
    top: -950px;
    left: 19%;
    transform: translateX(-50%);
    color: black;
    width: 640px;
    height: 360px;
    padding: 10px;
  }

  .content1 {
    position: absolute;
    top: 58%;
    left: 75%;
    transform: translateX(-50%);
    color: white;
    width: 550px;
    height: 500px;
    padding: 10px;
    border-radius: 30px;
    text-shadow: 0 0 5px #ffffff;
  }

  .content2 {
    position: absolute;
    text-align: left;
    top: 93%;
    left: 27%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    width: 800px;
    padding: 10px;
    border-radius: 30px;
    text-shadow: 0 0 5px #ffffff;
  }

  .content2 a {
    cursor: pointer;
    color: rgb(0, 255, 234);
    text-shadow: 0 0 5px #00ffe5;
  }

  .contentheader {
    position: absolute;
    top: 35%;
    left: 75%;
    transform: translateX(-50%);
    color: white;
    width: 800px;
    height: 500px;
    padding: 10px;
    border-radius: 30px;
    text-shadow: 0 0 5px #ffffff;
  }

  .software {
    position: absolute;
    max-width: 1100px;
    color: white;
    top: 150%;
    left: 20%;
    text-align: left;
  }

  .banner {
    position: relative;
    width: 100%;
    top: 39px;
    left: 0;
    right: 0;
    max-width: none;
    z-index: -1;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    z-index: -2;
  }

  .pfp, .ac {
    position: absolute;
    height: 300px;
  }

  .pfp { top: 45%; left: 60%; }
  .ac {
    border-radius: 25px;
    top: 105%;
    left: 48%;
  }

  .glass, .glass2, .glass3, .glass4, .contentGlass, .contentheaderGlass, .videoGlass{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.343);
  }

  .glass {
    top: 40%;
    width: 60%;
    height: 400px;
    border-radius: 50px;
    transform: translateX(31%);
  }

  .glass2 {
    top: 88%;
    width: 26%;
    height: 55%;
    border-radius: 50px;
    transform: translateX(70%);
  }

  .glass3 {
    top: 88%;
    width: 32%;
    height: 10%;
    border-radius: 35px;
    transform: translateX(146%);
  }

  .glass4 {
    top: 150%;
    width: 60.5%;
    height: 85%;
    border-radius: 50px;
    transform: translateX(30%);
  }

  .glass5 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.77);
    top: 28%;
    left: 21%;
    width: 35%;
    height: 500px;
    border-radius: 50px;
    transform: translateX(31%);
    z-index: -1;
  }

  .contentGlass {
    padding: 10px;
    right: 69%;
    top: 58%;
    width: 32%;
    height: 50%;
    border-radius: 50px;
    transform: translateX(182.5%);
  }

  .contentheaderGlass {
    padding: 10px;
    right: 69%;
    top: 38%;
    width: 32%;
    height: 10%;
    border-radius: 40px;
    transform: translateX(182.5%);
  }

  .videoGlass {
    padding: 10px;
    left: -94%;
    top: 93%;
    width: 52%;
    height: 15%;
    border-radius: 50px;
    transform: translateX(182.5%);
  }

  h1 {
    font-size: 50px;
    font-weight: 700;
  }

  .jerry404 {
    position: absolute;
    height: 25%;
    width: 27%;
    left: 36%;
    top: 50%;
    border-radius: 40px;
  }

  .tp, .pr, .ps, .bl {
    position: absolute;
    height: 5%;
    top: 155%;
  }

  .tp {
    height: 6.4%;
    top: 154.3%;
    left: 62.5%;
  }

  .pr { left: 66.1%; }
  .ps { left: 70%; }
  .bl { left: 73%; }

  .intro {
    position: absolute;
    top: -140%;
    left: -15%;
    width: 130%;
    font-size: 80px;
    font-weight: 700;
  }

  .welcome {
    color: white;
    position: absolute;
    font-size: 20px;
    width: 30%;
    left: 40%;
    top: 62%;
    transform: translateX(-50%);
  }

  .video, .BestVid {
    position: absolute;
    transform: translateX(-40%);
    border-radius: 50px;
    overflow: hidden;
  }

  .video {
    top: 38%;
    left: 24%;
  }

  .BestVid {
    top: 103%;
    left: 59.61%;
  }

  .fourOfourBackground {
    position: absolute;
    left: 0px;
    z-index: -2;
    height: 100%;
    width: 100%;
  }