.work-sans-regular {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

header {
  position: absolute;
  width: 100%;
  top: 10%;
  text-align: center;
  color: white;
}

.subheading {
  all: unset;
  position: relative;
  width: 100%;
  height: 100%;
  top: -30px;
}

section {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 1;
}

nav {
  text-align: right;
  padding: 10px;
  background-color: black;
}

nav p {
  position: absolute;
  top: -6px;
  color: white;
}

a {
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius:15px;
  margin: 15px;
  transition: color 0.3s ease;
}

nav a::after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

nav a:hover {
  color: #0066CC;
}

nav a:hover::after {
  opacity: 1;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
  align-content: center;
}

.FAQ {
  color: white;
  position: absolute;
  top: 85%;
  left: 20%;
  max-width: 450px; /* Adjust to desired width */
  text-align: left; /* Adjust alignment if needed */
}

.FAQ a {
  all: unset;
  color: #0066CC;
  text-decoration: underline;
  cursor: pointer;
}

.CINEMA {
  position: absolute;
  color: white;
  top: 85%;
  left: 49%;
  text-align: left;
}

footer {
  position: absolute;
  bottom: -500px;
  width: 100%;
  font-size: 10px;
}

footer a {
  all: unset;
  color: #0066CC;
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

.home {
  position: relative;
  top: -950px;
  left: 19%;
  transform: translateX(-50%);
  color: black;
  width: 640px;
  height: 360px;
  padding: 10px;
}

.content1 {
  position: absolute;
  top: 45%;
  left: 75%;
  transform: translateX(-50%);
  color: white;
  width: 500px;
  height: 500px;
  padding: 10px;
  border-radius: 30px;
}

.video {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateX(-40%);
  color: white;
  border-radius: 50px;
}

.banner {
  position: relative;
  width: 100%;
  top: 39px;
  left: 0;
  right: 0;
  max-width: none;
  z-index: -1;
}

.intro {
  position: absolute;
  top: -165%;
  left: -15%;
  width: 130%;
  font-size: 80px;
  font-weight: 700;
}

.welcome {
  color: white;
  position: absolute;
  font-size: 20px;
  width: 30%;
  left: 40%;
  top: 62%;
  transform: translateX(-50%);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.pfp {
  position: absolute;
  top: 45%;
  left: 60%;
  height: 300px;
}

.ac {
  position: absolute;
  border-radius: 25px;
  top: 105%;
  left: 48%;
  height: 300px;
}

.glass {
  position: absolute;
  top: 40%;
  width: 60%;
  height: 400px;
  border-radius: 50px;
  transform: translateX(31%);
  background-color: rgba(0, 0, 0, 0.408);
}

.glass2 {
  position: absolute;
  top: 88%;
  width: 26%;
  height: 55%;
  border-radius: 50px;
  transform: translateX(70%);
  background-color: rgba(0, 0, 0, 0.408);
}

.glass3 {
  position: absolute;
  top: 88%;
  width: 32%;
  height: 55%;
  border-radius: 50px;
  transform: translateX(146%);
  background-color: rgba(0, 0, 0, 0.408);
}

.contentGlass {
  position: absolute;
  top: 45%;
  width: 32%;
  height: 55%;
  border-radius: 50px;
  transform: translateX(182.5%);
  background-color: rgba(0, 0, 0, 0.408);
}